{% extends "students/base.html" %}

{% load i18n %}

	{% block status_message %}
		{% if errors %}
			<div class="alert alert-warning" role="alert">
				{% trans "Please correct the following errors" %}
			</div>
		{% endif %}
	{% endblock %} 

{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block meta_title%}{% trans "Edit Student" %}{% endblock meta_title%}

{% block title %}{% trans "Edit Student" %}{% endblock title %}

{% block content %}

{% crispy form %}
	
{% endblock content %}
